@using Autofac;
@using Autofac.Configuration;
@using Autofac.Core;
@using System.Configuration;
@using CMSExpress.Common.Caching;
@{
    ViewBag.Title = "Test";
    
    ICache cache;
    var builder = new ContainerBuilder();
    builder.RegisterModule(new ConfigurationSettingsReader("autofac", "autofac.config")); 
    using (var container = builder.Build()) 
    { 
        cache = container.Resolve<ICache>();
    }
}

<h2>Test</h2>
@cache