<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<log4net debug="false">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="App_Data/Logs/"/>
			<param name="Encoding" value="GB2312" />
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyyMMdd" />
			<param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<param name="RollingStyle" value="Composite"/>

			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="时间:%date{yy-MM-dd HH:mm:ss,fff} %n来源:%logger [%p] %n%m%n-------------------------------------------------------------------%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
			</filter>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>