ol, ul {
    list-style: none outside none;
    margin: 0px;
padding: 0px;
}
.feed .f-single:after {
    content: ".";
    overflow: hidden;
    height: 0px;
    display: block;
    clear: both;
}
.feed .f-single {
    margin-bottom: 12px;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}
.feed .f-aside:after {
    content: ".";
    overflow: hidden;
    height: 0px;
    display: block;
    clear: both;
}
.feed .f-aside {
    min-height: 50px;
    margin-bottom: 12px;
    padding: 15px 10px 0px 72px;
    position: relative;
}
.feed .f-aside .f-user-pto {
    position: absolute;
    left: 9px;
    top: 15px;
}
.feed .f-aside .f-user-avatar {
    position: relative;
}
.feed .f-aside .f-user-avatar, .feed .f-aside .f-user-avatar img {
    display: block;
    border: 0px none;
    font-size: 0px;
    width: 50px;
    height: 50px;
    vertical-align: top;
    border-radius: 4px;
}
.feed .f-aside .f-nick {
    width: 360px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
}
.feed .f-aside .info-detail .state {
    display: inline-block;
    vertical-align: top;
}
.feed .ui-mr8 {
    margin-right: 8px;
}
.feed .ui-mr10 {
    margin-right: 10px;
}
.feed .f-item {
    position: relative;
    word-wrap: break-word;
}
.feed .f-item .f-info:after {
    content: ".";
    display: block;
    height: 0px;
    line-height: 0;
    overflow: hidden;
    clear: both;
}

