<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
	</configSections>
	<autofac>
		<components>
			<component type="CMSExpress.Common.Caching.WebCache, CMSExpress.Common"
					   service="CMSExpress.Common.Caching.ICache, CMSExpress.Common" />
			
			<component type="CMSExpress.AppServices.Data.Support.PermissionRepository, CMSExpress.AppServices"
					   service="CMSExpress.AppServices.Data.IPermissionRepository, CMSExpress.AppServices"/>
		</components>
	</autofac>
</configuration>